<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231095125934-rhs23cjrehfle5grtk1l1en61iaotma2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231095125934-rhs23cjrehfle5grtk1l1en61iaotma2</string>
	<key>API_KEY</key>
	<string>AIzaSyBtBzo6MYQ-quwi8cB3RWnnKY3peAiv4H0</string>
	<key>GCM_SENDER_ID</key>
	<string>231095125934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.g4g.mpcalcu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mpcalcu</string>
	<key>STORAGE_BUCKET</key>
	<string>mpcalcu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231095125934:ios:010f4a11253e5c8fafea3f</string>
</dict>
</plist>